<a href="https://colab.research.google.com/github/camoltoni/argentinaprograma4/blob/main/u2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#inicializa servicio SQL
%load_ext sql
#Genera una DB en memoria
%sql sqlite://

In [ ]:
#Cargamos datos de gapminder
%%sql
CREATE TABLE if not exists gapminder (
    country text,
    continent text,
    year int,
    lifeExp float,
    pop int,
    gdpPercap float
);

 * sqlite://
Done.

[]

In [ ]:
%%sql
SELECT *
FROM gapminder

 * sqlite://
Done.

[]

In [ ]:
# Cargamos datos de gapminder a un df
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/gapminder/gapminder.csv'
gapminder_df = pd.read_csv(path)

In [ ]:
# populamos la tabla
for i in range(gapminder_df.shape[0]):
  vals = gapminder_df.iloc[i].values
  sql_query = f"""
  INSERT INTO GAPMINDER VALUES('{vals[0]}','{vals[1]}',{vals[2]},{vals[3]},{vals[4]},{vals[5]})
  """
  %sql {sql_query}

In [ ]:
%%sql
SELECT sum(country)
FROM gapminder
limit 5

 * sqlite://
Done.

[(0.0,)]

1. Identifique todos los países únicos y ordénelos por orden alfabético

In [ ]:
%%sql
SELECT distinct country
FROM gapminder
order by country desc

2. Cuántos registros hay por cada país de los anteriormente calculados?

In [ ]:
%%sql
select country, count(*) q_registros
from gapminder
group by country

3. Cuál es la máxima población registrada en cada país? ordenar países por máxima población de manera decendente

In [ ]:
%%sql
select country, max(pop) as max_pop
from gapminder
group by country
order by max(pop) desc

 * sqlite://
Done.

[('China', 1318683096),
 ('India', 1110396331),
 ('United States', 301139947),
 ('Indonesia', 223547000),
 ('Brazil', 190010647),
 ('Pakistan', 169270617),
 ('Bangladesh', 150448339),
 ('Nigeria', 135031164),
 ('Japan', 127467972),
 ('Mexico', 108700891),
 ('Philippines', 91077287),
 ('Vietnam', 85262356),
 ('Germany', 82400996),
 ('Egypt', 80264543),
 ('Ethiopia', 76511887),
 ('Turkey', 71158647),
 ('Iran', 69453570),
 ('Thailand', 65068149),
 ('Congo, Dem. Rep.', 64606759),
 ('France', 61083916),
 ('United Kingdom', 60776238),
 ('Italy', 58147733),
 ('Korea, Rep.', 49044790),
 ('Myanmar', 47761980),
 ('South Africa', 44433622),
 ('Colombia', 44227550),
 ('Sudan', 42292929),
 ('Spain', 40448191),
 ('Argentina', 40301927),
 ('Poland', 38654957),
 ('Tanzania', 38139640),
 ('Kenya', 35610177),
 ('Morocco', 33757175),
 ('Canada', 33390141),
 ('Algeria', 33333216),
 ('Afghanistan', 31889923),
 ('Uganda', 29170398),
 ('Nepal', 28901790),
 ('Peru', 28674757),
 ('Saudi Arabia', 27601038),
 ('Iraq', 27499638),
 ('Venezuela', 26084662),
 ('Malaysia', 24821286),
 ('Korea, Dem. Rep.', 23301725),
 ('Taiwan', 23174294),
 ('Ghana', 22873338),
 ('Romania', 22797027),
 ('Yemen, Rep.', 22211743),
 ('Australia', 20434176),
 ('Sri Lanka', 20378239),
 ('Mozambique', 19951656),
 ('Syria', 19314747),
 ('Madagascar', 19167654),
 ('Cameroon', 17696293),
 ('Netherlands', 16570613),
 ('Chile', 16284741),
 ('Burkina Faso', 14326203),
 ('Cambodia', 14131858),
 ('Ecuador', 13755680),
 ('Malawi', 13327079),
 ('Niger', 12894865),
 ('Guatemala', 12572928),
 ('Angola', 12420476),
 ('Zimbabwe', 12311143),
 ('Senegal', 12267493),
 ('Mali', 12031795),
 ('Zambia', 11746035),
 ('Cuba', 11416987),
 ('Greece', 10706290),
 ('Hungary', 10705535),
 ('Portugal', 10642836),
 ('Belgium', 10392226),
 ('Serbia', 10336594),
 ('Czech Republic', 10315702),
 ('Tunisia', 10276158),
 ('Chad', 10238807),
 ('Guinea', 9947814),
 ('Dominican Republic', 9319622),
 ('Bolivia', 9119152),
 ('Somalia', 9118773),
 ('Sweden', 9031088),
 ('Bulgaria', 8971958),
 ('Rwanda', 8860588),
 ('Haiti', 8502814),
 ('Burundi', 8390505),
 ('Austria', 8199783),
 ('Benin', 8078314),
 ('Switzerland', 7554661),
 ('Honduras', 7483763),
 ('Hong Kong, China', 6980412),
 ('El Salvador', 6939688),
 ('Paraguay', 6667147),
 ('Israel', 6426679),
 ('Sierra Leone', 6144562),
 ('Jordan', 6053193),
 ('Libya', 6036914),
 ('Togo', 5701579),
 ('Nicaragua', 5675356),
 ('Denmark', 5468120),
 ('Slovak Republic', 5447502),
 ('Finland', 5238460),
 ('Eritrea', 4906585),
 ('Norway', 4627926),
 ('Singapore', 4553009),
 ('Bosnia and Herzegovina', 4552198),
 ('Croatia', 4494013),
 ('Central African Republic', 4369038),
 ('Costa Rica', 4133884),
 ('New Zealand', 4115771),
 ('Ireland', 4109086),
 ('West Bank and Gaza', 4018332),
 ('Puerto Rico', 3942491),
 ('Lebanon', 3921278),
 ('Congo, Rep.', 3800610),
 ('Albania', 3600523),
 ('Uruguay', 3447496),
 ('Mauritania', 3270065),
 ('Panama', 3242173),
 ('Oman', 3204897),
 ('Liberia', 3193942),
 ('Mongolia', 2874127),
 ('Jamaica', 2780132),
 ('Kuwait', 2505559),
 ('Namibia', 2055080),
 ('Lesotho', 2046772),
 ('Slovenia', 2011612),
 ('Gambia', 1688359),
 ('Botswana', 1639131),
 ('Guinea-Bissau', 1472041),
 ('Gabon', 1454867),
 ('Mauritius', 1250882),
 ('Trinidad and Tobago', 1191336),
 ('Swaziland', 1133066),
 ('Reunion', 798094),
 ('Montenegro', 720230),
 ('Comoros', 710960),
 ('Bahrain', 708573),
 ('Equatorial Guinea', 551201),
 ('Djibouti', 496374),
 ('Iceland', 301931),
 ('Sao Tome and Principe', 199579)]

4. Para el último año disponible, cuántos países hay en cada continente?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

5. Cuáles son los 5 países que en promedio han tenido mayor esperanza de vida? (incluya la esperanza de vida promedio)

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Practiquemos juntos

a. Cuál fue el PBI per cápita de ARG en 2002 y en 1997?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

b. Cuántas filas tiene la tabla gapminder?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

c.Cuántos países empiezan con la letra A?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

d. Para el último año de datos disponible, son los países con mayor esperanza de vida los mismos que tienen mayores ingresos per cápita?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

# NYCflights

In [ ]:
#importamos tablas de nycflights
%%sql

CREATE TABLE IF NOT EXISTS planes
(
  tailnum text,
	year int,
	type text,
	manufacturer text,
	model text,
	engines int,
  seats int,
  speed int,
  engine text
);

CREATE TABLE IF NOT EXISTS airlines
(
    carrier text,
	name text
);


CREATE TABLE IF NOT EXISTS airports
(
    faa text,
	name text,
	lat float,
	lon float,
	alt float,
	tz int,
	dst text,
	tzone text

);


CREATE TABLE IF NOT EXISTS weather
(
	origin text,
	year int,
	month int,
	day int,
	hour int,
	temp float,
	dewp float,
	humid float,
	wind_dir float,
	wind_speed float,
	wind_gust float,
	precip float,
	pressure float,
	visib float,
	time_hour text

);

CREATE TABLE IF NOT EXISTS flights
(
	year int,
	month int,
	day int,
	dep_time int,
	sched_dep_time int,
	dep_delay float,
	arr_time int,
	sched_arr_time int,
	arr_delay float,
	carrier text,
	flight int,
	tailnum text,
	origin text,
	dest text,
	air_time float,
	distance float,
	hour float,
	minute float,
	time_hour text
);

 * sqlite://
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
#populamos planes
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/planes.csv'
planes_df = pd.read_csv(path).replace(np.nan,0)

for i in range(planes_df.shape[0]):
  vals = planes_df.iloc[i].values
  sql_query = f"""
  INSERT INTO planes VALUES('{vals[0]}',{vals[1]},'{vals[2]}','{vals[3]}',
  '{vals[4]}',{vals[5]},{vals[6]},{vals[7]},'{vals[8]}')
  """
  %sql {sql_query}

In [ ]:
#populamos airlines
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/airlines.csv'
airlines_df = pd.read_csv(path)

for i in range(airlines_df.shape[0]):
  vals = airlines_df.iloc[i].values
  sql_query = f"""
  INSERT INTO airlines VALUES('{vals[0]}','{vals[1]}')
  """
  %sql {sql_query}

In [ ]:
#populamos airports
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/airports.csv'
airports_df = pd.read_csv(path)

for i in range(airports_df.shape[0]):
  vals = airports_df.iloc[i].values
  sql_query = f"""
  INSERT INTO airports VALUES('{vals[0]}','{vals[1]}',{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},'{vals[6]}','{vals[7]}')
  """
  try:
    %sql {sql_query}
  except:
    pass

In [ ]:
#populamos weather
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/weather.csv'
weather_df = pd.read_csv(path).replace(np.nan,0)

for i in range(weather_df.shape[0]):
  vals = weather_df.iloc[i].values
  sql_query = f"""
  INSERT INTO weather VALUES('{vals[0]}',{vals[1]},{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},{vals[6]},{vals[7]},{vals[8]},
  {vals[9]},{vals[10]},{vals[11]},{vals[12]},{vals[13]},'{vals[14]}')
  """
  %sql {sql_query}

In [ ]:
#populamos flights
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/flights.csv'
flights_df = pd.read_csv(path).replace(np.nan,0)

for i in range(30000):
  vals = flights_df.iloc[i].values
  sql_query = f"""
  INSERT INTO flights VALUES({vals[0]},{vals[1]},{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},{vals[6]},{vals[7]},{vals[8]},
  '{vals[9]}',{vals[10]},'{vals[11]}','{vals[12]}','{vals[13]}',{vals[14]},
  {vals[15]},{vals[16]},{vals[17]},'{vals[18]}')
  """
  %sql {sql_query}

## Más ejercicios

a. ¿Cuáles son todos los aviones producidos entre 1980 y 1990 por el fabricante BOEING?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

b. ¿Qué aerolíneas poseen el patrón ‘Air’ en sus nombres?

In [ ]:
%%sql

UsageError: Cell magic `%%sql` not found.

c. ¿Qué aeropuertos se encuentran al sur del aeropuerto Miami Intl (MIA)?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

d. ¿Cuáles son las 10 mayores precipitaciones registradas en la tabla  weather?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

e. ¿Qué vuelos han recorrido distancias menores a 90 millas o superiores a 4980 millas?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Volvemos con ejercicios más complejos

¿Cuáles fueron los 5 días del año 2013 en que se han registrado más vuelos? ¿Cuántos vuelos se registraron?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

¿Cuántos aviones hay para cada combinación de tipo y motor?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

¿Cuál es la cantidad de aeropuertos que se encuentran a una altitud mayor a 1000 pies?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

¿Cuáles son las temperaturas máximas y mínimas para cada origen en cada mes?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

¿Cuál es el porcentaje de aeropuertos que poseen el patrón ‘Air’ en sus nombres?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Sumemos joins

¿Qué fabricante construye los aviones que en promedio recorren las mayores distancias?

In [ ]:
%%sql
1

 * sqlite://
(sqlite3.OperationalError) near "1": syntax error
[SQL: 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

¿Cuál es el retraso promedio al despegar cuando se registran precipitaciones  vs cuando no se registran?

In [ ]:
%%sql
SELECT
 	CASE WHEN t2.precip > 0 THEN 1 else 0 end as precip_binary,
	AVG(t1.dep_delay) as mean_precip
FROM flights t1
INNER JOIN weather t2 ON
	t1.time_hour = t2.time_hour AND t1.origin = t2.origin
GROUP BY t2.precip >0;

 * sqlite://
Done.

[(0, 8.706977235143029), (1, 17.5396201702685)]