<a href="https://colab.research.google.com/github/camoltoni/argentinaprograma4/blob/main/08/u2_soluciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#inicializa servicio SQL
%load_ext sql
#Genera una DB en memoria
%sql sqlite://

In [ ]:
#Cargamos datos de gapminder
%%sql
CREATE TABLE if not exists gapminder (
    country text,
    continent text,
    year int,
    lifeExp float,
    pop int,
    gdpPercap float
);

 * sqlite://
Done.

[]

In [ ]:
%%sql
SELECT *
FROM gapminder

 * sqlite://
Done.

[]

In [ ]:
# Cargamos datos de gapminder a un df
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/gapminder/gapminder.csv'
gapminder_df = pd.read_csv(path)

In [ ]:
# populamos la tabla
for i in range(gapminder_df.shape[0]):
  vals = gapminder_df.iloc[i].values
  sql_query = f"""
  INSERT INTO GAPMINDER VALUES('{vals[0]}','{vals[1]}',{vals[2]},{vals[3]},{vals[4]},{vals[5]})
  """
  %sql {sql_query}

 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1952,40.477,2977019,1388.594732)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1957,42.469,3300000,1500.895925)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1962,44.93,3832408,1728.869428)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1967,47.35,4744870,2052.050473)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1972,49.801,6071696,2378.201111)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1977,52.374,7459574,2517.736547)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1982,53.983,9025951,2602.710169)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1987,54.655,10761098,2156.956069)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1992,52.044,12772596,1648.073791)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',1997,47.991,14625967,1786.265407)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',2002,46.832,16252726,1648.800823)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) near "Ivoire": syntax error
[SQL: INSERT INTO GAPMINDER VALUES('Cote d'Ivoire','Africa',2007,48.328,18013409,1544.750112)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

In [ ]:
%%sql
SELECT sum(country)
FROM gapminder
limit 5

 * sqlite://
Done.

[(0.0,)]

1. Identifique todos los países únicos y ordénelos por orden alfabético

In [ ]:
%%sql
SELECT distinct country
FROM gapminder
order by country desc

2. Cuántos registros hay por cada país de los anteriormente calculados?

In [ ]:
%%sql
select country, count(*) q_registros
from gapminder
group by country

3. Cuál es la máxima población registrada en cada país? ordenar países por máxima población de manera decendente

In [ ]:
%%sql
select country, max(pop) as max_pop
from gapminder
group by country
order by max(pop) desc

4. Para el último año disponible, cuántos países hay en cada continente?

In [ ]:
%%sql
select continent, count(*) as q_paises
from gapminder
where year = (select max(year) from gapminder)
group by continent
limit 10

 * sqlite://
Done.

[('Africa', 51),
 ('Americas', 25),
 ('Asia', 33),
 ('Europe', 30),
 ('Oceania', 2)]

5. Cuáles son los 5 países que en promedio han tenido mayor esperanza de vida? (incluya la esperanza de vida promedio)

In [ ]:
%%sql
select country, avg(lifeExp) as avg_lifeExp
from gapminder
group by country
order by avg_lifeExp desc
limit 5

 * sqlite://
Done.

[('Iceland', 76.51141666666666),
 ('Sweden', 76.177),
 ('Norway', 75.84299999999999),
 ('Netherlands', 75.6485),
 ('Switzerland', 75.56508333333333)]

## Practiquemos juntos

a. Cuál fue el PBI per cápita de ARG en 2002 y en 1997?

In [ ]:
%%sql

select country, gdpPercap
from gapminder
where country = 'Argentina' and year in (1997, 2002)

 * sqlite://
Done.

[('Argentina', 10967.28195), ('Argentina', 8797.640716)]

b. Cuántas filas tiene la tabla gapminder?

In [ ]:
%%sql
select count(*) as q_filas
from gapminder

 * sqlite://
Done.

[(1692,)]

c.Cuántos países empiezan con la letra A?

In [ ]:
%%sql
select count(distinct country) as q_paises
from gapminder
where country like 'a%'

 * sqlite://
Done.

[(7,)]

d. Para el último año de datos disponible, son los países con mayor esperanza de vida los mismos que tienen mayores ingresos per cápita?

In [ ]:
%%sql
select country, lifeExp
from gapminder
where year = (select max(year) from gapminder)
order by lifeExp desc
limit 5

 * sqlite://
Done.

[('Japan', 82.603),
 ('Hong Kong, China', 82.208),
 ('Iceland', 81.757),
 ('Switzerland', 81.701),
 ('Australia', 81.235)]

In [ ]:
%%sql
select country, gdpPercap
from gapminder
where year = (select max(year) from gapminder)
order by gdpPercap desc
limit 5

 * sqlite://
Done.

[('Norway', 49357.19017),
 ('Kuwait', 47306.98978),
 ('Singapore', 47143.17964),
 ('United States', 42951.65309),
 ('Ireland', 40675.99635)]

# NYCflights

In [ ]:
#importamos tablas de nycflights
%%sql

CREATE TABLE IF NOT EXISTS planes
(
  tailnum text,
	year int,
	type text,
	manufacturer text,
	model text,
	engines int,
  seats int,
  speed int,
  engine text
);

CREATE TABLE IF NOT EXISTS airlines
(
    carrier text,
	name text
);


CREATE TABLE IF NOT EXISTS airports
(
    faa text,
	name text,
	lat float,
	lon float,
	alt float,
	tz int,
	dst text,
	tzone text

);


CREATE TABLE IF NOT EXISTS weather
(
	origin text,
	year int,
	month int,
	day int,
	hour int,
	temp float,
	dewp float,
	humid float,
	wind_dir float,
	wind_speed float,
	wind_gust float,
	precip float,
	pressure float,
	visib float,
	time_hour text

);

CREATE TABLE IF NOT EXISTS flights
(
	year int,
	month int,
	day int,
	dep_time int,
	sched_dep_time int,
	dep_delay float,
	arr_time int,
	sched_arr_time int,
	arr_delay float,
	carrier text,
	flight int,
	tailnum text,
	origin text,
	dest text,
	air_time float,
	distance float,
	hour float,
	minute float,
	time_hour text
);

 * sqlite://
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
#populamos planes
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/planes.csv'
planes_df = pd.read_csv(path).replace(np.nan,0)

for i in range(planes_df.shape[0]):
  vals = planes_df.iloc[i].values
  sql_query = f"""
  INSERT INTO planes VALUES('{vals[0]}',{vals[1]},'{vals[2]}','{vals[3]}',
  '{vals[4]}',{vals[5]},{vals[6]},{vals[7]},'{vals[8]}')
  """
  %sql {sql_query}

In [ ]:
#populamos airlines
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/airlines.csv'
airlines_df = pd.read_csv(path)

for i in range(airlines_df.shape[0]):
  vals = airlines_df.iloc[i].values
  sql_query = f"""
  INSERT INTO airlines VALUES('{vals[0]}','{vals[1]}')
  """
  %sql {sql_query}

In [ ]:
#populamos airports
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/airports.csv'
airports_df = pd.read_csv(path)

for i in range(airports_df.shape[0]):
  vals = airports_df.iloc[i].values
  sql_query = f"""
  INSERT INTO airports VALUES('{vals[0]}','{vals[1]}',{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},'{vals[6]}','{vals[7]}')
  """
  try:
    %sql {sql_query}
  except:
    pass

In [ ]:
#populamos weather
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/weather.csv'
weather_df = pd.read_csv(path).replace(np.nan,0)

for i in range(weather_df.shape[0]):
  vals = weather_df.iloc[i].values
  sql_query = f"""
  INSERT INTO weather VALUES('{vals[0]}',{vals[1]},{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},{vals[6]},{vals[7]},{vals[8]},
  {vals[9]},{vals[10]},{vals[11]},{vals[12]},{vals[13]},'{vals[14]}')
  """
  %sql {sql_query}

In [ ]:
#populamos flights
path = 'https://raw.githubusercontent.com/IDSB-course/m2-sql/master/data/nycflights/flights.csv'
flights_df = pd.read_csv(path).replace(np.nan,0)

for i in range(30000):
  vals = flights_df.iloc[i].values
  sql_query = f"""
  INSERT INTO flights VALUES({vals[0]},{vals[1]},{vals[2]},{vals[3]},
  {vals[4]},{vals[5]},{vals[6]},{vals[7]},{vals[8]},
  '{vals[9]}',{vals[10]},'{vals[11]}','{vals[12]}','{vals[13]}',{vals[14]},
  {vals[15]},{vals[16]},{vals[17]},'{vals[18]}')
  """
  %sql {sql_query}

## Más ejercicios

a. ¿Cuáles son todos los aviones producidos entre 1980 y 1990 por el fabricante BOEING?

In [ ]:
%%sql
SELECT *
FROM planes
WHERE
	year BETWEEN 1980 and 1990 and
	manufacturer = 'BOEING'

 * sqlite://
Done.

[('N121DE', 1987, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N1501P', 1990, 'Fixed wing multi engine', 'BOEING', '767-3P6', 2, 290, 0, 'Turbo-fan'),
 ('N152DL', 1990, 'Fixed wing multi engine', 'BOEING', '767-3P6', 2, 290, 0, 'Turbo-fan'),
 ('N153DL', 1990, 'Fixed wing multi engine', 'BOEING', '767-3P6', 2, 290, 0, 'Turbo-fan'),
 ('N171DN', 1990, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N172DN', 1990, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N174DN', 1990, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N175DN', 1990, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N176DN', 1990, 'Fixed wing multi engine', 'BOEING', '767-332', 2, 330, 0, 'Turbo-fan'),
 ('N245AY', 1987, 'Fixed wing multi engine', 'BOEING', '767-201', 2, 255, 0, 'Turbo-jet'),
 ('N317WN', 1988, 'Fixed wing multi engine', 'BOEING', '737-3Q8', 2, 149, 0, 'Turbo-fan'),
 ('N319AA', 1985, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N320AA', 1985, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N323AA', 1986, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N324AA', 1986, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N325AA', 1986, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N327AA', 1986, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N328AA', 1986, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N329AA', 1987, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N332AA', 1987, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N335AA', 1987, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N336AA', 1987, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N338AA', 1987, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N339AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-223', 2, 255, 0, 'Turbo-fan'),
 ('N340LV', 1987, 'Fixed wing multi engine', 'BOEING', '737-3K2', 2, 149, 0, 'Turbo-jet'),
 ('N344SW', 1989, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N345SA', 1987, 'Fixed wing multi engine', 'BOEING', '737-3K2', 2, 149, 0, 'Turbo-jet'),
 ('N346SW', 1989, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N347SW', 1989, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N349SW', 1989, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N350SW', 1989, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N351AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N352AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N352SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N353AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N353SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-3H4', 2, 149, 0, 'Turbo-fan'),
 ('N354AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N355AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N357AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N358AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N359AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N360AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N361AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N362AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N363AA', 1988, 'Fixed wing multi engine', 'BOEING', '767-323', 2, 330, 0, 'Turbo-fan'),
 ('N406US', 1988, 'Fixed wing multi engine', 'BOEING', '737-401', 2, 149, 0, 'Turbo-jet'),
 ('N409US', 1988, 'Fixed wing multi engine', 'BOEING', '737-401', 2, 149, 0, 'Turbo-jet'),
 ('N419US', 1989, 'Fixed wing multi engine', 'BOEING', '737-401', 2, 149, 0, 'Turbo-jet'),
 ('N420US', 1989, 'Fixed wing multi engine', 'BOEING', '737-401', 2, 149, 0, 'Turbo-jet'),
 ('N427US', 1989, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N430US', 1989, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N432US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N433US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N434US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N435US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N438US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N439US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N440US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N441US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N443US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N444US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N449US', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N450UW', 1990, 'Fixed wing multi engine', 'BOEING', '737-4B7', 2, 149, 0, 'Turbo-fan'),
 ('N501US', 1985, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N502UA', 1989, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N503UA', 1989, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N503US', 1985, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N504UA', 1989, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N505SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-5H4', 2, 149, 0, 'Turbo-jet'),
 ('N505UA', 1989, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N507US', 1985, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N508SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-5H4', 2, 149, 0, 'Turbo-jet'),
 ('N508UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N509SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-5H4', 2, 149, 0, 'Turbo-jet'),
 ('N509UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N510SW', 1990, 'Fixed wing multi engine', 'BOEING', '737-5H4', 2, 149, 0, 'Turbo-jet'),
 ('N510UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N511UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N512UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N513UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N514UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N515UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N516UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N517UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N518UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N519UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N519US', 1986, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N520UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N521UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N521US', 1986, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N522UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N522US', 1987, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N523UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N523US', 1987, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N524UA', 1990, 'Fixed wing multi engine', 'BOEING', '757-222', 2, 178, 0, 'Turbo-jet'),
 ('N525US', 1987, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N530US', 1988, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N531US', 1988, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N532US', 1988, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N533US', 1988, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N534US', 1988, 'Fixed wing multi engine', 'BOEING', '757-251', 2, 178, 0, 'Turbo-jet'),
 ('N602DL', 1984, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N603DL', 1984, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N604DL', 1984, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N608DA', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N609DL', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N610DL', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N612AA', 1989, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N612DL', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N613AA', 1989, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N613DL', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N614DL', 1985, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N615DL', 1986, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N616DL', 1986, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N617DL', 1986, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N618AA', 1989, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N618DL', 1986, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N619AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N622AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N623AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N623DL', 1987, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N624AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N625AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N627DL', 1987, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N628AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N630AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N631AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N633AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N633DL', 1987, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N634AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N635AA', 1990, 'Fixed wing multi engine', 'BOEING', '757-223', 2, 178, 0, 'Turbo-fan'),
 ('N635DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N636DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N637DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N638DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N639DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N640DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N641DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N642DL', 1988, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N643DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N644DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N645DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N646DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N647DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N648DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N649DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N650DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N651DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N652DL', 1989, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N654DL', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N655DL', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N657SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-3L9', 2, 149, 0, 'Turbo-fan'),
 ('N658DL', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N658SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-3L9', 2, 149, 0, 'Turbo-fan'),
 ('N659DL', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N659SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-301', 2, 149, 0, 'Turbo-fan'),
 ('N660DL', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N660SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-301', 2, 149, 0, 'Turbo-fan'),
 ('N661DN', 1990, 'Fixed wing multi engine', 'BOEING', '757-232', 2, 178, 0, 'Turbo-fan'),
 ('N662SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-3Q8', 2, 149, 0, 'Turbo-fan'),
 ('N663SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-3Q8', 2, 149, 0, 'Turbo-fan'),
 ('N665WN', 1986, 'Fixed wing multi engine', 'BOEING', '737-3Y0', 2, 149, 0, 'Turbo-fan'),
 ('N669SW', 1987, 'Fixed wing multi engine', 'BOEING', '737-3A4', 2, 149, 0, 'Turbo-jet'),
 ('N670SW', 1988, 'Fixed wing multi engine', 'BOEING', '737-3G7', 2, 149, 0, 'Turbo-jet'),
 ('N670US', 1990, 'Fixed wing multi engine', 'BOEING', '747-451', 4, 450, 0, 'Turbo-jet'),
 ('N684WN', 1988, 'Fixed wing multi engine', 'BOEING', '737-3TO', 2, 149, 0, 'Turbo-jet'),
 ('N685SW', 1986, 'Fixed wing multi engine', 'BOEING', '737-3Q8', 2, 149, 0, 'Turbo-fan'),
 ('N687SW', 1986, 'Fixed wing multi engine', 'BOEING', '737-3Q8', 2, 149, 0, 'Turbo-fan'),
 ('N691WN', 1988, 'Fixed wing multi engine', 'BOEING', '737-3G7', 2, 149, 0, 'Turbo-jet'),
 ('N693SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-317', 2, 149, 0, 'Turbo-jet'),
 ('N694SW', 1985, 'Fixed wing multi engine', 'BOEING', '737-3T5', 2, 149, 0, 'Turbo-jet'),
 ('N697SW', 1988, 'Fixed wing multi engine', 'BOEING', '737-3TO', 2, 149, 0, 'Turbo-jet'),
 ('N750AT', 1984, 'Fixed wing multi engine', 'BOEING', '757-212', 2, 178, 0, 'Turbo-jet'),
 ('N757AT', 1984, 'Fixed wing multi engine', 'BOEING', '757-212', 2, 178, 0, 'Turbo-jet')]

b. ¿Qué aerolíneas poseen el patrón ‘Air’ en sus nombres?

In [ ]:
%%sql
SELECT name as aerolinea
FROM airlines
WHERE name LIKE '%Air%'

 * sqlite://
Done.

[('Endeavor Air Inc.',),
 ('American Airlines Inc.',),
 ('Alaska Airlines Inc.',),
 ('JetBlue Airways',),
 ('Delta Air Lines Inc.',),
 ('ExpressJet Airlines Inc.',),
 ('Frontier Airlines Inc.',),
 ('AirTran Airways Corporation',),
 ('Hawaiian Airlines Inc.',),
 ('Envoy Air',),
 ('SkyWest Airlines Inc.',),
 ('United Air Lines Inc.',),
 ('US Airways Inc.',),
 ('Southwest Airlines Co.',),
 ('Mesa Airlines Inc.',)]

c. ¿Qué aeropuertos se encuentran al sur del aeropuerto Miami Intl (MIA)?

In [ ]:
%%sql
SELECT name as aeropuerto
FROM airports
WHERE lat < 25.79325

 * sqlite://
Done.

[('Barking Sands Pmrf',),
 ('Bradshaw Aaf',),
 ('Key West Intl',),
 ('Dillingham',),
 ('Wheeler Aaf',),
 ('Honolulu Intl',),
 ('Hana',),
 ('Homestead Arb',),
 ('Hilo Intl',),
 ('Kapalua',),
 ('Kona Intl At Keahole',),
 ('Lihue',),
 ('Lanai',),
 ('Kalaupapa Airport',),
 ('Molokai',),
 ('Miami Seaplane Base',),
 ('Florida Keys Marathon Airport',),
 ('Waimea Kohala',),
 ('Kaneohe Bay Mcaf',),
 ('Key West Nas',),
 ('Key Largo',),
 ('Kahului',),
 ('Fort Jefferson',),
 ('Kendall Tamiami Executive',),
 ('Upolu',),
 ('Waikoloa Heliport',)]

d. ¿Cuáles son las 10 mayores precipitaciones registradas en la tabla  weather?

In [ ]:
%%sql
SELECT *
FROM weather
ORDER BY precip DESC
LIMIT 10

 * sqlite://
Done.

[('EWR', 2013, 8, 28, 14, 73.4, 71.6, 94.1, 0.0, 0.0, 0.0, 1.21, 0.0, 4.0, '2013-08-28T18:00:00Z'),
 ('EWR', 2013, 6, 2, 23, 71.6, 68.0, 90.06, 270.0, 25.31716, 0.0, 1.06, 0.0, 4.0, '2013-06-03T03:00:00Z'),
 ('EWR', 2013, 7, 3, 14, 80.06, 75.02, 94.14, 190.0, 9.20624, 0.0, 0.94, 0.0, 10.0, '2013-07-03T18:00:00Z'),
 ('LGA', 2013, 9, 2, 13, 73.94, 66.2, 83.09, 0.0, 9.20624, 0.0, 0.82, 0.0, 5.0, '2013-09-02T17:00:00Z'),
 ('LGA', 2013, 9, 12, 19, 80.6, 69.8, 90.06, 310.0, 17.261699999999998, 0.0, 0.68, 0.0, 10.0, '2013-09-12T23:00:00Z'),
 ('JFK', 2013, 9, 22, 1, 66.2, 64.4, 96.9, 270.0, 11.5078, 0.0, 0.66, 0.0, 2.5, '2013-09-22T05:00:00Z'),
 ('LGA', 2013, 6, 8, 2, 57.92, 55.94, 93.69, 350.0, 11.5078, 0.0, 0.66, 0.0, 1.0, '2013-06-08T06:00:00Z'),
 ('JFK', 2013, 7, 1, 11, 77.0, 71.6, 93.52, 270.0, 14.96014, 0.0, 0.65, 0.0, 6.0, '2013-07-01T15:00:00Z'),
 ('LGA', 2013, 5, 8, 8, 57.2, 53.96, 89.48, 0.0, 17.261699999999998, 0.0, 0.64, 0.0, 2.0, '2013-05-08T12:00:00Z'),
 ('JFK', 2013, 5, 8, 12, 62.6, 60.8, 93.83, 110.0, 21.86482, 0.0, 0.58, 0.0, 10.0, '2013-05-08T16:00:00Z')]

e. ¿Qué vuelos han recorrido distancias menores a 90 millas o superiores a 4980 millas?

In [ ]:
%%sql
SELECT *
FROM flights
WHERE distance < 90 OR
	distance > 4980

 * sqlite://
Done.

[(2013, 1, 1, 857, 900, -3.0, 1516, 1530, -14.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 659.0, 4983.0, 9.0, 0.0, '2013-01-01T14:00:00Z'),
 (2013, 1, 2, 909, 900, 9.0, 1525, 1530, -5.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 638.0, 4983.0, 9.0, 0.0, '2013-01-02T14:00:00Z'),
 (2013, 1, 3, 914, 900, 14.0, 1504, 1530, -26.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 616.0, 4983.0, 9.0, 0.0, '2013-01-03T14:00:00Z'),
 (2013, 1, 3, 2127, 2129, -2.0, 2222, 2224, -2.0, 'EV', 3833, 'N13989', 'EWR', 'PHL', 30.0, 80.0, 21.0, 29.0, '2013-01-04T02:00:00Z'),
 (2013, 1, 4, 900, 900, 0.0, 1516, 1530, -14.0, 'HA', 51, 'N384HA', 'JFK', 'HNL', 639.0, 4983.0, 9.0, 0.0, '2013-01-04T14:00:00Z'),
 (2013, 1, 4, 1240, 1200, 40.0, 1333, 1306, 27.0, 'EV', 4193, 'N14972', 'EWR', 'PHL', 30.0, 80.0, 12.0, 0.0, '2013-01-04T17:00:00Z'),
 (2013, 1, 4, 1829, 1615, 134.0, 1937, 1721, 136.0, 'EV', 4502, 'N15983', 'EWR', 'PHL', 28.0, 80.0, 16.0, 15.0, '2013-01-04T21:00:00Z'),
 (2013, 1, 4, 2128, 2129, -1.0, 2218, 2224, -6.0, 'EV', 4645, 'N27962', 'EWR', 'PHL', 32.0, 80.0, 21.0, 29.0, '2013-01-05T02:00:00Z'),
 (2013, 1, 5, 858, 900, -2.0, 1519, 1530, -11.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 635.0, 4983.0, 9.0, 0.0, '2013-01-05T14:00:00Z'),
 (2013, 1, 5, 1155, 1200, -5.0, 1241, 1306, -25.0, 'EV', 4193, 'N14902', 'EWR', 'PHL', 29.0, 80.0, 12.0, 0.0, '2013-01-05T17:00:00Z'),
 (2013, 1, 6, 1019, 900, 79.0, 1558, 1530, 28.0, 'HA', 51, 'N385HA', 'JFK', 'HNL', 611.0, 4983.0, 9.0, 0.0, '2013-01-06T14:00:00Z'),
 (2013, 1, 6, 2125, 2129, -4.0, 2224, 2224, 0.0, 'EV', 4619, 'N22909', 'EWR', 'PHL', 22.0, 80.0, 21.0, 29.0, '2013-01-07T02:00:00Z'),
 (2013, 1, 7, 1042, 900, 102.0, 1620, 1530, 50.0, 'HA', 51, 'N385HA', 'JFK', 'HNL', 612.0, 4983.0, 9.0, 0.0, '2013-01-07T14:00:00Z'),
 (2013, 1, 7, 2124, 2129, -5.0, 2212, 2224, -12.0, 'EV', 4619, 'N33182', 'EWR', 'PHL', 25.0, 80.0, 21.0, 29.0, '2013-01-08T02:00:00Z'),
 (2013, 1, 8, 901, 900, 1.0, 1504, 1530, -26.0, 'HA', 51, 'N389HA', 'JFK', 'HNL', 645.0, 4983.0, 9.0, 0.0, '2013-01-08T14:00:00Z'),
 (2013, 1, 8, 2127, 2130, -3.0, 2304, 2225, 39.0, 'EV', 4619, 'N11194', 'EWR', 'PHL', 30.0, 80.0, 21.0, 30.0, '2013-01-09T02:00:00Z'),
 (2013, 1, 9, 641, 900, 1301.0, 1242, 1530, 1272.0, 'HA', 51, 'N384HA', 'JFK', 'HNL', 640.0, 4983.0, 9.0, 0.0, '2013-01-09T14:00:00Z'),
 (2013, 1, 9, 2126, 2129, -3.0, 2217, 2224, -7.0, 'EV', 4619, 'N17560', 'EWR', 'PHL', 27.0, 80.0, 21.0, 29.0, '2013-01-10T02:00:00Z'),
 (2013, 1, 10, 859, 900, -1.0, 1449, 1530, -41.0, 'HA', 51, 'N388HA', 'JFK', 'HNL', 633.0, 4983.0, 9.0, 0.0, '2013-01-10T14:00:00Z'),
 (2013, 1, 10, 2133, 2129, 4.0, 2223, 2224, -1.0, 'EV', 3271, 'N12569', 'EWR', 'PHL', 30.0, 80.0, 21.0, 29.0, '2013-01-11T02:00:00Z'),
 (2013, 1, 11, 855, 900, -5.0, 1442, 1530, -48.0, 'HA', 51, 'N383HA', 'JFK', 'HNL', 613.0, 4983.0, 9.0, 0.0, '2013-01-11T14:00:00Z'),
 (2013, 1, 11, 2135, 2129, 6.0, 2233, 2224, 9.0, 'EV', 4619, 'N15980', 'EWR', 'PHL', 30.0, 80.0, 21.0, 29.0, '2013-01-12T02:00:00Z'),
 (2013, 1, 12, 901, 900, 1.0, 1452, 1530, -38.0, 'HA', 51, 'N383HA', 'JFK', 'HNL', 615.0, 4983.0, 9.0, 0.0, '2013-01-12T14:00:00Z'),
 (2013, 1, 12, 1613, 1617, -4.0, 1708, 1722, -14.0, 'EV', 4616, 'N11150', 'EWR', 'PHL', 36.0, 80.0, 16.0, 17.0, '2013-01-12T21:00:00Z'),
 (2013, 1, 13, 856, 900, -4.0, 1523, 1530, -7.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 647.0, 4983.0, 9.0, 0.0, '2013-01-13T14:00:00Z'),
 (2013, 1, 13, 2243, 2129, 74.0, 2400, 2224, 96.0, 'EV', 4619, 'N16963', 'EWR', 'PHL', 31.0, 80.0, 21.0, 29.0, '2013-01-14T02:00:00Z'),
 (2013, 1, 14, 859, 900, -1.0, 1456, 1530, -34.0, 'HA', 51, 'N382HA', 'JFK', 'HNL', 622.0, 4983.0, 9.0, 0.0, '2013-01-14T14:00:00Z'),
 (2013, 1, 14, 2128, 2129, -1.0, 2215, 2224, -9.0, 'EV', 4619, 'N14953', 'EWR', 'PHL', 25.0, 80.0, 21.0, 29.0, '2013-01-15T02:00:00Z'),
 (2013, 1, 15, 856, 900, -4.0, 1439, 1530, -51.0, 'HA', 51, 'N384HA', 'JFK', 'HNL', 618.0, 4983.0, 9.0, 0.0, '2013-01-15T14:00:00Z'),
 (2013, 1, 15, 2122, 2130, -8.0, 2207, 2225, -18.0, 'EV', 4619, 'N16976', 'EWR', 'PHL', 26.0, 80.0, 21.0, 30.0, '2013-01-16T02:00:00Z'),
 (2013, 1, 16, 858, 900, -2.0, 1510, 1530, -20.0, 'HA', 51, 'N384HA', 'JFK', 'HNL', 640.0, 4983.0, 9.0, 0.0, '2013-01-16T14:00:00Z'),
 (2013, 1, 16, 2125, 2129, -4.0, 2214, 2224, -10.0, 'EV', 4619, 'N14993', 'EWR', 'PHL', 31.0, 80.0, 21.0, 29.0, '2013-01-17T02:00:00Z'),
 (2013, 1, 17, 859, 900, -1.0, 1513, 1530, -17.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 648.0, 4983.0, 9.0, 0.0, '2013-01-17T14:00:00Z'),
 (2013, 1, 17, 2318, 2129, 109.0, 2358, 2224, 94.0, 'EV', 3271, 'N11535', 'EWR', 'PHL', 28.0, 80.0, 21.0, 29.0, '2013-01-18T02:00:00Z'),
 (2013, 1, 18, 1103, 900, 123.0, 1635, 1530, 65.0, 'HA', 51, 'N388HA', 'JFK', 'HNL', 611.0, 4983.0, 9.0, 0.0, '2013-01-18T14:00:00Z'),
 (2013, 1, 18, 2231, 2129, 62.0, 2320, 2224, 56.0, 'EV', 4619, 'N14916', 'EWR', 'PHL', 31.0, 80.0, 21.0, 29.0, '2013-01-19T02:00:00Z'),
 (2013, 1, 19, 854, 900, -6.0, 1458, 1530, -32.0, 'HA', 51, 'N386HA', 'JFK', 'HNL', 630.0, 4983.0, 9.0, 0.0, '2013-01-19T14:00:00Z'),
 (2013, 1, 19, 1617, 1617, 0.0, 1722, 1722, 0.0, 'EV', 4616, 'N12540', 'EWR', 'PHL', 34.0, 80.0, 16.0, 17.0, '2013-01-19T21:00:00Z'),
 (2013, 1, 20, 900, 900, 0.0, 1452, 1530, -38.0, 'HA', 51, 'N384HA', 'JFK', 'HNL', 629.0, 4983.0, 9.0, 0.0, '2013-01-20T14:00:00Z'),
 (2013, 1, 20, 2219, 2129, 50.0, 2316, 2224, 52.0, 'EV', 4619, 'N15574', 'EWR', 'PHL', 30.0, 80.0, 21.0, 29.0, '2013-01-21T02:00:00Z'),
 (2013, 1, 21, 853, 900, -7.0, 1459, 1530, -31.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 650.0, 4983.0, 9.0, 0.0, '2013-01-21T14:00:00Z'),
 (2013, 1, 21, 2123, 2129, -6.0, 2216, 2224, -8.0, 'EV', 4619, 'N19554', 'EWR', 'PHL', 32.0, 80.0, 21.0, 29.0, '2013-01-22T02:00:00Z'),
 (2013, 1, 22, 853, 900, -7.0, 1506, 1530, -24.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 632.0, 4983.0, 9.0, 0.0, '2013-01-22T14:00:00Z'),
 (2013, 1, 22, 2203, 2130, 33.0, 2317, 2225, 52.0, 'EV', 4619, 'N13538', 'EWR', 'PHL', 31.0, 80.0, 21.0, 30.0, '2013-01-23T02:00:00Z'),
 (2013, 1, 23, 1041, 900, 101.0, 1652, 1530, 82.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 653.0, 4983.0, 9.0, 0.0, '2013-01-23T14:00:00Z'),
 (2013, 1, 23, 2128, 2129, -1.0, 2221, 2224, -3.0, 'EV', 4619, 'N12135', 'EWR', 'PHL', 23.0, 80.0, 21.0, 29.0, '2013-01-24T02:00:00Z'),
 (2013, 1, 24, 854, 900, -6.0, 1520, 1530, -10.0, 'HA', 51, 'N389HA', 'JFK', 'HNL', 657.0, 4983.0, 9.0, 0.0, '2013-01-24T14:00:00Z'),
 (2013, 1, 24, 2241, 2129, 72.0, 2350, 2224, 86.0, 'EV', 3271, 'N14923', 'EWR', 'PHL', 31.0, 80.0, 21.0, 29.0, '2013-01-25T02:00:00Z'),
 (2013, 1, 25, 920, 900, 20.0, 1539, 1530, 9.0, 'HA', 51, 'N382HA', 'JFK', 'HNL', 653.0, 4983.0, 9.0, 0.0, '2013-01-25T14:00:00Z'),
 (2013, 1, 25, 2305, 2129, 96.0, 2357, 2224, 93.0, 'EV', 4619, 'N14562', 'EWR', 'PHL', 26.0, 80.0, 21.0, 29.0, '2013-01-26T02:00:00Z'),
 (2013, 1, 26, 901, 900, 1.0, 1536, 1530, 6.0, 'HA', 51, 'N385HA', 'JFK', 'HNL', 660.0, 4983.0, 9.0, 0.0, '2013-01-26T14:00:00Z'),
 (2013, 1, 26, 1621, 1617, 4.0, 1705, 1722, -17.0, 'EV', 4616, 'N14153', 'EWR', 'PHL', 27.0, 80.0, 16.0, 17.0, '2013-01-26T21:00:00Z'),
 (2013, 1, 27, 859, 900, -1.0, 1504, 1530, -26.0, 'HA', 51, 'N380HA', 'JFK', 'HNL', 646.0, 4983.0, 9.0, 0.0, '2013-01-27T14:00:00Z'),
 (2013, 1, 27, 2128, 2129, -1.0, 2213, 2224, -11.0, 'EV', 4619, 'N13969', 'EWR', 'PHL', 29.0, 80.0, 21.0, 29.0, '2013-01-28T02:00:00Z'),
 (2013, 1, 28, 856, 900, -4.0, 1513, 1530, -17.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 648.0, 4983.0, 9.0, 0.0, '2013-01-28T14:00:00Z'),
 (2013, 1, 28, 2201, 2129, 32.0, 2259, 2224, 35.0, 'EV', 4619, 'N13550', 'EWR', 'PHL', 36.0, 80.0, 21.0, 29.0, '2013-01-29T02:00:00Z'),
 (2013, 1, 29, 855, 900, -5.0, 1504, 1530, -26.0, 'HA', 51, 'N383HA', 'JFK', 'HNL', 650.0, 4983.0, 9.0, 0.0, '2013-01-29T14:00:00Z'),
 (2013, 1, 29, 2131, 2130, 1.0, 2221, 2225, -4.0, 'EV', 4619, 'N13538', 'EWR', 'PHL', 25.0, 80.0, 21.0, 30.0, '2013-01-30T02:00:00Z'),
 (2013, 1, 30, 855, 900, -5.0, 1441, 1530, -49.0, 'HA', 51, 'N388HA', 'JFK', 'HNL', 613.0, 4983.0, 9.0, 0.0, '2013-01-30T14:00:00Z'),
 (2013, 1, 30, 2244, 2129, 75.0, 2341, 2224, 77.0, 'EV', 4619, 'N27962', 'EWR', 'PHL', 37.0, 80.0, 21.0, 29.0, '2013-01-31T02:00:00Z'),
 (2013, 1, 31, 858, 900, -2.0, 1435, 1530, -55.0, 'HA', 51, 'N386HA', 'JFK', 'HNL', 617.0, 4983.0, 9.0, 0.0, '2013-01-31T14:00:00Z'),
 (2013, 1, 31, 2129, 2129, 0.0, 2234, 2224, 10.0, 'EV', 3271, 'N13553', 'EWR', 'PHL', 28.0, 80.0, 21.0, 29.0, '2013-02-01T02:00:00Z'),
 (2013, 10, 2, 951, 1000, -9.0, 1438, 1450, -12.0, 'HA', 51, 'N381HA', 'JFK', 'HNL', 623.0, 4983.0, 10.0, 0.0, '2013-10-02T14:00:00Z')]

## Volvemos con ejercicios más complejos

¿Cuáles fueron los 5 días del año 2013 en que se han registrado más vuelos? ¿Cuántos vuelos se registraron?

In [ ]:
%%sql
SELECT year, month, day, COUNT(*) as q_flights
FROM flights
WHERE year = 2013
GROUP BY year, month, day
ORDER BY COUNT(*) DESC
LIMIT 5;

 * sqlite://
Done.

[(2013, 10, 3, 995),
 (2013, 10, 2, 975),
 (2013, 10, 1, 965),
 (2013, 1, 2, 943),
 (2013, 1, 7, 933)]

¿Cuántos aviones hay para cada combinación de tipo y motor?

In [ ]:
%%sql
SELECT type, engine, COUNT(*)as q_aviones
FROM planes
GROUP BY type, engine;

 * sqlite://
Done.

[('Fixed wing multi engine', 'Reciprocating', 5),
 ('Fixed wing multi engine', 'Turbo-fan', 2750),
 ('Fixed wing multi engine', 'Turbo-jet', 535),
 ('Fixed wing multi engine', 'Turbo-prop', 2),
 ('Fixed wing single engine', '4 Cycle', 2),
 ('Fixed wing single engine', 'Reciprocating', 23),
 ('Rotorcraft', 'Turbo-shaft', 5)]

¿Cuál es la cantidad de aeropuertos que se encuentran a una altitud mayor a 1000 pies?

In [ ]:
%%sql
SELECT COUNT(*) as q_airports
FROM airports
WHERE alt > 1000;

 * sqlite://
Done.

[(390,)]

¿Cuáles son las temperaturas máximas y mínimas para cada origen en cada mes?

In [ ]:
%%sql
SELECT month, origin, MAX(temp) as max_temp, MIN(temp) as min_temp
FROM weather
GROUP BY month, origin
ORDER BY month, origin;

 * sqlite://
Done.

[(1, 'EWR', 64.4, 10.94),
 (1, 'JFK', 57.92, 12.02),
 (1, 'LGA', 59.0, 12.02),
 (2, 'EWR', 55.94, 15.98),
 (2, 'JFK', 50.0, 17.06),
 (2, 'LGA', 51.98, 19.04),
 (3, 'EWR', 60.08, 26.06),
 (3, 'JFK', 57.92, 26.96),
 (3, 'LGA', 57.02, 28.94),
 (4, 'EWR', 84.02, 30.92),
 (4, 'JFK', 82.94, 33.08),
 (4, 'LGA', 80.06, 33.98),
 (5, 'EWR', 93.02, 42.98),
 (5, 'JFK', 84.92, 13.1),
 (5, 'LGA', 93.02, 44.96),
 (6, 'EWR', 93.92, 55.04),
 (6, 'JFK', 89.6, 53.96),
 (6, 'LGA', 93.92, 55.04),
 (7, 'EWR', 100.04, 64.04),
 (7, 'JFK', 98.06, 64.04),
 (7, 'LGA', 98.96, 64.94),
 (8, 'EWR', 89.96, 0.0),
 (8, 'JFK', 87.08, 60.08),
 (8, 'LGA', 89.06, 62.06),
 (9, 'EWR', 95.0, 48.02),
 (9, 'JFK', 86.0, 48.02),
 (9, 'LGA', 93.02, 50.0),
 (10, 'EWR', 89.06, 33.08),
 (10, 'JFK', 84.02, 39.02),
 (10, 'LGA', 84.92, 42.08),
 (11, 'EWR', 71.06, 21.02),
 (11, 'JFK', 66.92, 23.0),
 (11, 'LGA', 69.98, 24.08),
 (12, 'EWR', 71.6, 17.96),
 (12, 'JFK', 60.8, 19.94),
 (12, 'LGA', 69.08, 19.94)]

¿Cuál es el porcentaje de aeropuertos que poseen el patrón ‘Air’ en sus nombres?

In [ ]:
%%sql
SELECT (
		(SELECT cast(COUNT(*) as float)
		FROM airports
		WHERE name LIKE '%Air%')/
		(SELECT cast(COUNT(*) as float)
		FROM airports
		WHERE name NOT LIKE '%Air%')
		) as percent

 * sqlite://
Done.

[(0.8473282442748091,)]

## Sumemos joins

¿Qué fabricante construye los aviones que en promedio recorren las mayores distancias?

In [ ]:
%%sql
SELECT t2.manufacturer, AVG(t1.distance) as mean_dist
FROM flights t1
INNER JOIN planes t2
ON t1.tailnum = t2.tailnum
GROUP BY t2.manufacturer
ORDER BY AVG(t1.distance) DESC
LIMIT 1;

 * sqlite://
Done.

[('DOUGLAS', 2586.0)]

¿Cuál es el retraso promedio al despegar cuando se registran precipitaciones  vs cuando no se registran?

In [ ]:
%%sql
SELECT
 	CASE WHEN t2.precip > 0 THEN 1 else 0 end as precip_binary,
	AVG(t1.dep_delay) as mean_precip
FROM flights t1
INNER JOIN weather t2 ON
	t1.time_hour = t2.time_hour AND t1.origin = t2.origin
GROUP BY t2.precip >0;

 * sqlite://
Done.

[(0, 8.706977235143029), (1, 17.5396201702685)]